<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yehonghan.mapper.CategoryMapper">

    <resultMap id="BaseResultMap" type="top.yehonghan.entity.Category">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="categoryName" column="category_name" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,category_name,create_time,
        update_time
    </sql>
    <select id="listCategoryDTO" resultType="top.yehonghan.dto.CategoryDTO">
        SELECT c.id,
               c.category_name,
               COUNT(a.id) AS article_count
        FROM tb_category c
                 LEFT JOIN (SELECT id, category_id FROM tb_article WHERE is_delete = 0 AND `status` = 1) a
                           ON c.id = a.category_id
        GROUP BY c.id
    </select>
    <select id="listCategoryBackDTO" resultType="top.yehonghan.dto.CategoryBackDTO">
        SELECT
        c.id,
        c.category_name,
        COUNT( a.id ) AS article_count,
        c.create_time
        FROM
        tb_category c
        LEFT JOIN tb_article a ON c.id = a.category_id
        <where>
            <if test="condition.keywords != null">
                category_name like concat('%',#{condition.keywords},'%')
            </if>
        </where>
        GROUP BY
        c.id
        ORDER BY
        c.id DESC
        LIMIT #{current},#{size}
    </select>
</mapper>
